@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Linked In MVC Demo</h1>
              
            </hgroup>

        </div>
    </section>
}
  <h2>@ViewBag.Message</h2>
<p>

    @if (ViewBag.Authenticated)
    {
        <img src="@ViewBag.Image" />
        <br /> @ViewBag.Id 
        <br /> @ViewBag.Name  <br />
    }
</p>
