@model MvcSample.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<section class="social" id="socialLoginForm">
    <h2>Choose a service for authentication</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
